.channels-sidebar {
  margin: 10px;
  min-height: 85vh;
}

.channels-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  i:hover {
    cursor: pointer;
  }
}

.channels-list {
  margin: 10px;
}