.chat-view-container {
  display: grid;
  grid-template-columns: 20% auto;
}

.channels-sidebar {
  padding: 10px;
  min-height: 80vh;
  // background: #4d394b;
  // color: white;
}

.channels-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  font-weight: 800;
  i:hover {
    cursor: pointer;
  }
}

.channels-list {
  margin: 10px;
}

.msg-list {
  margin: 20px 0;
  
}

.msg-index {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.msg-header {
  background: white;
  height: 40px;
  position: absolute;
  z-index: 1;
  padding: 10px 20px;
  width: 98%;
  top: 0;
  line-height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.msg-container {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 96%;
  overflow: hidden;
}

.channel-name {
  font-size: 26px;
  color: #9c9797;
}

.msg {
  margin: 10px 0;
}

.msg-username {
  font-weight: 700;
  margin-bottom: 5px;
}

.created-at {
  margin-left: 10px;
  font-size: 12px;
  color: #b9b7b7;
}

.msg-form-body {
  // margin: 0 10px;
  height: 30px;
  width: 98%;
  font-size: 16px;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  border: solid 1px #b9b7b7;
}

.msg-form-submit {
  height: 40px;
}

.msg-form-submit:hover {
  cursor: pointer;
}
