.chat-view-container {
  display: grid;
  grid-template-columns: 20% auto;
}

.channels-sidebar {
  margin: 10px;
  min-height: 80vh;
}

.channels-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  i:hover {
    cursor: pointer;
  }
}

.channels-list {
  margin: 10px;
}

.msg-list {
  margin: 20px 0;
}

.msg-index {
  padding: 20px;
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.channel-name {
  font-size: 26px;
  color: #9c9797;
}

.msg {
  margin: 10px 0;
}

.msg-form{
  input {
    border-radius: 8px;
    border: solid 1px #b9b7b7;
  }
}

.msg-username {
  font-weight: 700;
  margin-bottom: 5px;
}

.created-at {
  margin-left: 10px;
  font-size: 12px;
  color: #b9b7b7;
}

.msg-form-body {
  // margin: 0 10px;
  height: 40px;
  width: 98%;
  font-size: 16px;
  padding: 0 10px;
}

.msg-form-submit {
  height: 40px;

}

.msg-form-submit:hover {
  cursor: pointer;
}